* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

body {
  min-height: 100%;
  background-color: #aaa;
  line-height: 1.5;
}


html {
  height: 100%;
}


header {
  background-color: white;
}


main {
  border-top: 8px solid grey;
}

.max-width-wrapper {
  max-width: 580;
  margin: auto;
}


.intro-chunk {
  padding-top: 64px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 450px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk p {
  font-size: 1.5rem;
}

.title {
  margin-bottom: 64px;
}


.card {
  background-color: white;
  padding: 4px 16px;
  margin-top: 64px;
  border-bottom: 8px solid grey;
}

.indented-heading {
  width: max-content;
  max-width: 450px;

  padding: 8px 32px;
  margin: 0px;
  margin-left: -32px;

  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
